@(employeeForm: play.data.Form[EmployeeUser], employees: List[EmployeeUser])

@import helper._

@implicitField = @{ helper.FieldConstructor(views.html.fieldConstructors.ixFieldConstructor.f) }


	
	<div class="row">
		<div class="col-md-12">
			@form(action = routes.AdministrationController.newUser, 'class -> "form-horizontal", 'role -> "form") {
		
				@inputText(employeeForm("name"), 'class -> "form-control")
				
				@inputText(employeeForm("username"), 'class -> "form-control")
		
				@inputText(employeeForm("password"), 'class -> "form-control")
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Add employee</button>
					</div>
				</div>
			}
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th></th>
				</tr>
				@for(employee <- employees) {
					<tr>
						<td>@employee.name</td>
						<td>@employee.username</td>
						<td>
							@form(routes.AdministrationController.removeUser(employee.username)) {
								<button type="submit" class="close" aria-hidden="true">&times;</button>
							}
						</td>
					</tr>
				}
			</table>
		</div>
	</div>