@(userForm: play.data.Form[User], employeeUsers: List[EmployeeUser], customerUsers: List[CustomerUser])

@import helper._

	<div class="register-user col-md-6">
		<h3>Register user</h3>
		@form(routes.UserController.newUser(), 'role -> "form", 'class -> "form-inline") {
			<div class="form-group">
				<div class="form-group">
					<input type="text" name="username" class="form-control" id="newUserUsername" placeholder="Username" autofocus>
				</div>
				<div class="form-group">
					<input type="password" name="password" class="form-control" id="newUserPassword" placeholder="Password">
				</div>
			</div>
			<button type="submit" class="btn btn-default">Register user</button>
		}
	</div>

	<div class="tasks-list col-md-3">
		<h3>Existing employees</h3>
		<dl class="dl-horizontal">
			@for(user <- employeeUsers) {
				<dt>
					@form(routes.UserController.removeUser(user.username)) {
						<button type="submit" class="close" aria-hidden="true">&times;</button>
					}
				</dt>
				<dd>Username: @user.username, Tasks: @user.tasks.size(), @user.getType()</dd>
			}
		</dl>
	</div>
	
	<div class="tasks-list col-md-3">
		<h3>Existing customers</h3>
		<dl class="dl-horizontal">
			@for(user <- customerUsers) {
				<dt>
					@form(routes.UserController.removeUser(user.username)) {
						<button type="submit" class="close" aria-hidden="true">&times;</button>
					}
				</dt>
				<dd>Username: @user.username, Tasks: @user.tasks.size(), Insurances: @user.insurances.size()</dd>
			}
		</dl>
	</div>